<div class="container">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="card mt-4">
				<div class="card-body">
					<h1 class="card-title">{{user.userName}}</h1>
					{{!-- <p>
						<strong>ID</strong>: {{user.id}}</p> --}}
					<p>
						<h5>
							<strong>First Name</strong>: {{user.firstName}}</h5>
							<h5>
							<strong>Last Name</strong>: {{user.lastName}}</h5>
							<h5>
							<strong>Email</strong>: {{user.email}}</h5>
						<button type="submit" class="btn btn-primary" id="letsChat"> Let's Chat</button>

						<button type="submit" class="btn btn-primary" id="signOut"> Sign Out </button>

				</div>
			</div>
		</div>
	</div>
</div>